/* Work Sans Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,700;1,800&display=swap');

/* Shared Style */
* {
    font-family: 'Work Sans', sans-serif;
    }
.btn-primary{
    font-size: 1.2rem;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
    }
.text-light-gray{
    color: #727272;
    line-height: 20px;
    font-weight: 400;
    }
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    }
/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 100px;
    }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    }
nav > ul {
    display: flex;
    }
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    }
nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    }
.banner-title{
    font-size: 3.8rem;
    font-weight: 700;
    color: #131313;
    }
.banner-description{
    color: #727272;
    }
.banner > img {
    margin-top: 20px;
    width: 100%;
    }

/* main Style */
main{
    max-width: 1280px;
    margin: 70px auto;
    }
/* Teams Styles */
.teams-container{
    display: flex;
    align-items: center;
    }
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    }
/* .teams-img-container > img{
    width: 100%;
} */
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
    }
.teams-title{
    font-size: 2.5rem;
    }
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
    }
.teams-title .text-feature{
    color: #FF900E;
    }

/* Feature Section Style */
.features{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    }
.features-content .card{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    }
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    }
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 200px;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 80px;
    }
.features-img img{
    height: 80%;
    margin-left: 50px;
    }
.ten-years-badge h2{
    font-size: 2rem;
    margin: 0;
    }
.ten-years-badge p{
    font-size: 1.2rem;
    }

/* Facts Section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    }
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px 30px;
    }
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.2rem;
    }
.facts-card-container .card-stats{
    font-size: 2.5rem;
    color: #424242;
    margin: 10px 0px;
    }
/* Sponsors */
.sponsors{
    text-align: center;
    }
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    }
.sponsors-img-container img{
    width: 160px;
}






/* Responsive media queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
        }
    nav, 
    .teams-container,
    .features, 
    .facts-card-container, 
    .sponsors-img-container{
        flex-direction: column;
        }
    .features-img img{
        width: 100%;
        margin-left: 0;
        }
    .teams-img-container{
        grid-template-columns: 1fr;
        }
    .teams-content, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
        }
    .facts-card-container{
        gap: 20px;
    }
}

/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
        }
    nav, 
    .teams-container, 
    .features,
    .sponsors-img-container{
        flex-direction: column;
        }    
    .features-img img{
        width: 100%;
        margin-left: 0;
        }
    .facts-card-container{
        gap: 10px;
    }
}